.navbar {
  background-color: #ffffff !important;
}

.nav-link {
  color: #353e67 !important;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 8px;
  transition: color 0.3s ease;
  font-weight: 600;}
.nav-link:hover {
  color: #353e67 !important;
}
